:root {
    /*https: //flatuicolors.com/palette/se*/
    --background: #1e272e;
    --backgroundLight: #485460;
    --white: #d2dae2;
    --greenDark: #05c46b;
    --greenLight: #0be881;
    --blueDark: #3c40c6;

}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: var(--background);
  color: var(--white);
}


.brushButton{
    background-color: var(--backgroundLight);
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;

    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin: 20px
}

.brushButtonItem{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;

    border-radius: 15px;
}

.brushButtonItemSelected{
    
    background-color: var(--blueDark);
}